<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Local :: Drink Citiz ::</title>

    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('css/datepicker3.css') }}" rel="stylesheet">
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet">

    <!--Icons-->
    <script src="{{ asset('js/lumino.glyphs.js') }}"></script>

    <!--[if lt IE 9]>
    <script src="{{ asset('js/html5shiv.js') }}"></script>
    <script src="{{ asset('js/respond.min.js') }}"></script>
    <![endif]-->

    {% block stylesheets %}
    {% endblock %}

    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

  </head>
  <body>

    	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    		<div class="container-fluid">
    			<div class="navbar-header">
    				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
    					<span class="sr-only">Toggle navigation</span>
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    				</button>
    				<a class="navbar-brand" href="#"><span>Lumino</span>Admin</a>
    				<ul class="user-menu">
    					<li class="dropdown pull-right">
    						{#<a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> User <span class="caret"></span></a>#}
                <a href="{{ path('fos_user_security_logout') }}">
                  <svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg>
                  Logout
                </a>
    						<ul class="dropdown-menu" role="menu">
                  {#
    							<li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
    							<li><a href="#"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"></use></svg> Settings</a></li>
                  #}
    							<li>
                    {#<a href="#"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a>#}
                    <a href="{{ path('fos_user_security_logout') }}">
                      <svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg>
                      Logout
                    </a>
                  </li>
    						</ul>
    					</li>
    				</ul>
    			</div>
    		</div><!-- /.container-fluid -->
    	</nav>
    	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
      {#
    		<form role="search">
    			<div class="form-group">
    				<input type="text" class="form-control" placeholder="Search">
    			</div>
    		</form>
      #}
    		<ul class="nav menu">
          <li{% if app.request.get('_route') == 'operation' %} class="active"{% endif %}><a href="{{ path('operation') }}"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Operations</a></li>
    			<li{% if app.request.get('_route') == 'publicite' %} class="active"{% endif %}><a href="{{ path('publicite') }}"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Publicités</a></li>
    			<li{% if app.request.get('_route') == 'publicite' %} class="active"{% endif %}><a href="{{ path('publicite') }}"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Publicités</a></li>

    			<li{% if app.request.get('_route') == 'homepage' %} class="active"{% endif %}><a href="{{ path('operation') }}"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> Tables</a></li>
    			<li{% if app.request.get('_route') == 'homepage' %} class="active"{% endif %}><a href="{{ path('operation') }}"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> Forms</a></li>
    			<li{% if app.request.get('_route') == 'homepage' %} class="active"{% endif %}><a href="{{ path('operation') }}"><svg class="glyph stroked app-window"><use xlink:href="#stroked-app-window"></use></svg> Alerts &amp; Panels</a></li>
    			<li{% if app.request.get('_route') == 'homepage' %} class="active"{% endif %}><a href="{{ path('operation') }}"><svg class="glyph stroked star"><use xlink:href="#stroked-star"></use></svg> Icons</a></li>

    			<li role="presentation" class="divider"></li>
    			<li{% if app.request.get('_route') == 'logout' %} class="active"{% endif %}><a href="login.html"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Login Page</a></li>
    		</ul>
    	</div><!--/.sidebar-->
    	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    		<div class="row">
    			<ol class="breadcrumb">
    				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
    				<li class="active">Icons</li>
    			</ol>
    		</div><!--/.row-->

              {% block body %}

              {% endblock %}


    	</div>	<!--/.main-->

    	<script src="{{ asset('js/jquery.js') }}"></script>
    	<script src="{{ asset('js/bootstrap.js') }}"></script>
    	<script src="{{ asset('js/chart.min.js') }}"></script>

      <!--
          	<script src="{{ asset('js/chart-data.js') }}"></script>
      <script src="{{ asset('js/easypiechart.js') }}"></script>
      <script src="{{ asset('js/easypiechart-data.js') }}"></script>
      -->


    	<script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
      {% block javascripts %}

      {% endblock %}
    	<script>
      $(document).ready(function(){

    		$('#calendar').datepicker({
    		});

    		!function ($) {
    		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){
    		        $(this).find('em:first').toggleClass("glyphicon-minus");
    		    });
    		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    		}(window.jQuery);

    		$(window).on('resize', function () {
    		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
    		})
    		$(window).on('resize', function () {
    		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
    		})

      });
    	</script>
    </body>
</html>
