{% extends 'AppBundle::layout.html.twig' %}

{% block body -%}
    <div class="row-fluid">
      <div class="span12">
        <div class="widget no-margin">
          <div class="widget-header">
            <div class="title">
              <span class="fs1" aria-hidden="true" data-icon="&#xe14a;"></span> Sequences
            </div>
          </div>
          <div class="widget-body">
            <div id="dt_example" class="example_alt_pagination">
              <table class="table table-condensed table-striped table-hover table-bordered pull-left" id="data-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('sequence_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.name }}</td>
                        <td>{{ entity.description }}</td>
                        <td>
                          <!--
                          <a href="#sequence-events{{entity.id}}" data-toggle="modal" data-original-title=""
                           class="btn btn-success btn-small">Show</a>
                         -->
                           <div id="sequence-events{{entity.id}}" class="modal hide fade" tabindex="-10" role="dialog" aria-labelledby="myModalLabel10" aria-hidden="true" style="display: none;">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                  ×
                                </button>
                                <h4 id="myModalLabel10">
                                  Edit client details
                                </h4>
                              </div>
                              <div class="modal-body">
                                <div class="row-fluid">
                                  <div class="span12">
                                    <table>
                                       {% for temp1 in entity.events %}
                                       <tr>
                                         <td>{{temp1.label}}</td>
                                         <td>{{temp1.text}}</td>
                                         <td>{{temp1.textcolor}}</td>
                                       </tr>
                                       {% endfor %}
                                    </table>
                                  </div>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">
                                  Close
                                </button>
                                <!--
                                <button class="btn btn-primary">
                                  Save changes
                                </button>
                                -->
                              </div>
                            </div>
                            <a href="{{ path('sequence_edit', { 'id': entity.id }) }}" class="btn btn-info btn-small">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
              </table><br />
              <a href="{{ path('sequence_new') }}" class="btn btn-info pull-right">Ajouter nouvelle séquence</a>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>



    {% endblock %}
